form {
    gap: 16px;
    max-width: 80%;
    margin: auto;
}

.reservation-row {
    display: flex;
    padding: 5px;
}

label {
    width: 50%;
    text-align: left;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.submit-button {
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    font-size: large;
}

.room-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.reservation-calendar {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: '#f9f9f9'
}