.card {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
